<div class='row'>
	<div class='page-header'>
		<h1>Admin Panel <small><%= t("forem.admin.category.edit", :title => @category.name) %></small></h1>
	</div>
	<div class='col-md-2'>
		<%= render '/forem/admin/base/side' %>
	</div>
	<div class='col-md-10'>
		<%= render 'form' %>
	</div>
</div>