<div class='row'>
	<div class='page-header'>
		<%= link_to 'Cancel', admin_server_families_path, class: 'btn btn-danger pull-right' %>
		<h1>Server Admin Panel<small> New Server Family</small></h1>
	</div>
	<div class='col-md-2'>
		<%= render '/forem/admin/base/side' %>
	</div>
	<div class='col-md-10'>
		<%= render 'form' %>
	</div>
</div>