<div class='row'>
	<div class='page-header'>
		<%= link_to 'Delete', admin_server_family_path(@family), method: :delete, :data => { confirmation: 'Are you sure you want to delete this family?' }, class: 'btn btn-danger pull-right' %>
		<h1>Server Admin Panel<small> Server Family</small></h1>
	</div>
	<div class='col-md-2'>
		<%= render '/forem/admin/base/side' %>
	</div>
	<div class='col-md-10'>
		<%= render 'form' %>
	</div>
</div>