<footer class="footer">
	<div class="container">
		<div class='text-muted'>&copy; 2015 Pure PvP</div>
		<div class='social-media pull-right text-muted'>
			<a href="https://twitter.com/horrorpengy">
				<i class='fa fa-twitter'></i>
			</a>
		</div>
		<div class='locations pull-right text-muted'>
			<%= link_to 'Staff', staff_path %>
		</div>
	</div>
</footer>