<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <div class="container">
    <div class="carousel-caption">
      <h1>PurePvP</h1>
      <h1>The PvP Network</h1>
      <p style="padding-top: 30px">
        <a class="btn btn-lg btn-primary" href="<%= servers_path %>">Play &raquo;</a>
        <a class="btn btn-lg btn-primary" href="<%= new_user_registration_path %>">Register &raquo;</a>
      </p>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'carousel_one.png', alt: 'Home Image #1' %>
    </div>
    <div class="item">
      <%= image_tag 'carousel_two.png', alt: 'Home Image #2' %>
    </div>
  </div>

  <!-- Carousel Controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="navbar navbar-default" style="min-height: 30px;">
  <div class="container" style="margin-top: 4px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow : ellipsis">
    <strong>News</strong>: Website currently under development.
  </div>
</div>