// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Lato', sans-serif;
}

body { 
	padding-top: 20px;
}

#home-carousel .carousel-caption h1 {
	font-size: 100pt 
}

#home-carousel .carousel-caption p {
	padding-top: 30px
}

.navbar-brand img {
	height: 25px;
}

.navbar-brand .nav-image {
	padding: 15px 15px 0px 15px !important;
}


.navbar a.dropdown-toggle {
	height: 50px;
	padding: 15px 0px 0px 0px;
}

.navbar a.dropdown-toggle:link, .navbar a.dropdown-toggle:visited {
	color: black;
}

.error-message {
	color: red;
}

#topics_container .avatar {
	border-radius: 6px;
}

.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

h3 {
	font-size: 20px !important;
}

.user .icon img {
	border-radius: 6px;
}

.contents .col-md-10 {
	padding-left: 0px;
}