// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Lato', sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

body { 
	padding-top: 20px;
	margin-bottom: 60px;
}

body > .container {
	padding-bottom: 80px;
}

footer > .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer .container div {
	display: inline;
}

.footer .container .fa-twitter:hover {
	color: #55ACEE;
}

.footer .container a:link, .footer .container a:visited {
	color: #777;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

#home-carousel .carousel-caption h1 {
	font-size: 100pt 
}

#home-carousel .carousel-caption p {
	padding-top: 30px
}

.navbar-brand img {
	height: 25px;
}

.navbar-brand .nav-image {
	padding: 15px 15px 0px 15px !important;
}


.navbar a.dropdown-toggle {
	height: 50px;
	padding: 15px 0px 0px 0px;
}

.navbar a.dropdown-toggle:link, .navbar a.dropdown-toggle:visited {
	color: black;
}

.error-message {
	color: red;
}

#topics_container .avatar {
	border-radius: 6px;
}

.center {
	display:table-cell;
	vertical-align:middle;
	float:none;
}

h3 {
	font-size: 20px !important;
}

.user .icon img {
	border-radius: 6px;
}

.contents .col-md-10 {
	padding-left: 0px;
}

.post-ribbon i {
	margin-right: 2px;
	padding-left: 8px;
}

.post-ribbon i:nth-child(1) {
	padding-left: 0px;
}

.post-ribbon a:link, .post-ribbon a:visited, .post-ribbon i, 
.started-by a:link, .started-by a:visited, 
.latest-post a:link, .latest-post a:visited {
	color: #787878;
}

blockquote.reply-to {
	font-size: 16px !important;
	padding: 5px 20px !important;
}

#topics_container th {
	border-bottom: none;
}

.btn-group > .dropdown-toggle {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: -1px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle:nth-last-child(2) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px; 
}

.topics-table th.byline {
	width: 60%;
}

.topics-table th.topic-stats {
	width: 15%;
}

.topics-table th.latest-post {
	width: 25%;
}

.staff-member img {
	border-radius: 6px;
}

.staff-member h4 {
	margin: 0px;
}

.locations {
	margin-right: 15px;
}

.profile.rank {
	margin-top: 15px;
}


.player-tabs {
	margin-top: 50px;
}