// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.locations {
	margin-right: 15px;
}

.profile.rank {
	margin-top: 15px;
}


.player-tabs {
	margin-top: 50px;
}

.game-stats h1 {
	margin-top: 0px;
}

.punishments {
	margin-top: 25px;
}

.no-kills {
	margin-top: 15px;
}